In [1]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] ="/home/tdelatte/new-projects/ethereum-analytics/key/ethereum-analytics-309308-6c01508bc0b8.json"

In [2]:
from google.cloud import bigquery
client = bigquery.Client()

In [3]:
import pandas as pd

In [4]:
def load_data_from_bigquery(QUERY):
    
    query_job = client.query(QUERY) # API request
    df = query_job.to_dataframe()
    
    return df

In [5]:
QUERY = """

        WITH
          ethereum_balance AS (
          SELECT
            address AS ethereum_address,
            (eth_balance / POWER(10, 18)) AS eth_balance
          FROM
            `bigquery-public-data.crypto_ethereum.balances`
          WHERE
            (eth_balance / POWER(10, 18)) > 100
          LIMIT
            100000),
          
          top_tokens AS (
          SELECT
            token_address,
            COUNT(1) AS transfer_count
          FROM
            `bigquery-public-data.ethereum_blockchain.token_transfers` AS token_transfers
          GROUP BY
            token_address
          ORDER BY
            transfer_count DESC
          LIMIT
            100000),
         
         token_balances AS (
          WITH
            double_entry_book AS (
            SELECT
              token_address,
              to_address AS ethereum_address,
              CAST(value AS float64) AS value,
              block_timestamp,
              transaction_hash
            FROM
              `bigquery-public-data.ethereum_blockchain.token_transfers`
            UNION ALL
            SELECT
              token_address,
              from_address AS ethereum_address,
              -CAST(value AS float64) AS value,
              block_timestamp,
              transaction_hash
            FROM
              `bigquery-public-data.ethereum_blockchain.token_transfers` )
          SELECT
            a.ethereum_address,
            b.token_address,
            SUM(value) AS balance,
            COUNT(DISTINCT transaction_hash) as unique_transfers
          FROM
            ethereum_balance a
          JOIN
            double_entry_book b
          ON
            a.ethereum_address = b.ethereum_address
          JOIN
            top_tokens c
          ON
            c.token_address = b.token_address
          WHERE
            a.ethereum_address != '0x0000000000000000000000000000000000000000'
          GROUP BY
            1,
            2
          HAVING
            balance > 0 )
            
            
        SELECT
          ethereum_address,
          MAX(eth_balance) AS ether_balance,
          COUNT(DISTINCT token_address) AS unique_tokens,
          MAX(unique_transfers) AS unique_transfers
        FROM
          ethereum_balance a
        JOIN
          token_balances b
        USING
          (ethereum_address)
        GROUP BY
          1

    """

In [6]:
eth_dataset = load_data_from_bigquery(QUERY)

In [7]:
eth_dataset.head(10)

,ethereum_address,ether_balance,unique_tokens,unique_transfers
0,0x8d12a197cb00d4747a1fe03395095ce2a5cc6819,17960.597685,9900,117342
1,0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208,19345.149872,1718,54180
2,0x0d0707963952f2fba59dd06f2b425ace40b492fe,443.735122,587,245377
3,0xab5c66752a9e8167967685f1450532fb96d5d24f,331.840176,402,443233
4,0x1ce7ae555139c5ef5a57cc8d814a867ee6ee33d8,747.701162,978,18360
5,0x6cc5f688a315f3dc28a7781717a9a798a59fda7b,1031.186386,865,472190
6,0x564286362092d8e7936f0549571a803b203aaced,23892.712593,502,109404
7,0x0016eccecffc25b94050187017eb59fa05c029aa,126.407467,54,6180
8,0xbe708d227f6dfa0b8f2698bf543b949dfe4e28fb,269.029806,202,1462
9,0x9b77ab003d44b9b9cb47fa6a00276a23c05b49a5,2089.859796,54,3

In [8]:
from etherscan import Etherscan
api_key = os.environ.get("ETHERSCAN_API_KEY")
eth = Etherscan(api_key) # key in quotation marks

In [9]:
eth = Etherscan("UJZSE9DXM1T37JZQVNQYNSS9IT5JEPIBA7") # key in quotation marks

In [10]:
eth_dataset["mined_blocks"] = 0

In [11]:
eth_dataset.head()

,ethereum_address,ether_balance,unique_tokens,unique_transfers,mined_blocks
0,0x8d12a197cb00d4747a1fe03395095ce2a5cc6819,17960.597685,9900,117342,0
1,0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208,19345.149872,1718,54180,0
2,0x0d0707963952f2fba59dd06f2b425ace40b492fe,443.735122,587,245377,0
3,0xab5c66752a9e8167967685f1450532fb96d5d24f,331.840176,402,443233,0
4,0x1ce7ae555139c5ef5a57cc8d814a867ee6ee33d8,747.701162,978,18360,0

In [20]:
def add_mined_blocks(df):
    for i, row in df.iterrows():
        eth_address = row.ethereum_address
        try:
            mined = len(eth.get_mined_blocks_by_address(address=eth_address))
        except:
            continue
        if mined:
            df.iat[i-1, 4] = mined
    return df

In [21]:
add_mined_blocks(eth_dataset)

,ethereum_address,ether_balance,unique_tokens,unique_transfers,mined_blocks
0,0x8d12a197cb00d4747a1fe03395095ce2a5cc6819,17960.597685,9900,117342,0
1,0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208,19345.149872,1718,54180,0
2,0x0d0707963952f2fba59dd06f2b425ace40b492fe,443.735122,587,245377,0
3,0xab5c66752a9e8167967685f1450532fb96d5d24f,331.840176,402,443233,0
4,0x1ce7ae555139c5ef5a57cc8d814a867ee6ee33d8,747.701162,978,18360,0
...,...,...,...,...,...
26524,0x4d5a77b869312a8e2b3daa67c01c59753f6254ae,281.630258,47,12,0
26525,0xd2ad5f590192d227cb7e6ff15743119fe26118a0,1000.954777,47,4,0
26526,0x603f39c81560019c8360f33ba45bc1e4caecb33e,176.012588,47,7,0
26527,0x003e93083a2d294cb8c4421048108330c37b5874,669.846139,47,2,0
26528,0x72ac49403ae54061fbcdaaae032607c3f1e2f567,976.648574,47,2,0

In [22]:
eth_dataset["mined_blocks"].value_counts()

0         26412
1             6
2             6
5             4
3             3
          ...
89            1
48686         1
282304        1
10            1
23            1
Name: mined_blocks, Length: 85, dtype: int64

In [26]:
eth_dataset_complete = Out[21]

In [28]:
eth_dataset_complete.to_csv("../data/processed/eth_dataset_complete.csv")

In [27]:
eth_dataset_complete.shape

(26529, 5)

In [14]:
# Sanity check: do eth_addresses labeled as "Miners" actually have mined_blocks

In [29]:
labeled_dataset = pd.read_csv("../data/processed/eth_addresses_labels.csv")
labeled_dataset = labeled_dataset[labeled_dataset.Entity != "Entity"]

In [30]:
labeled_dataset.rename({'Address': 'ethereum_address'}, axis=1, inplace=True)

In [35]:
eth_dataset_complete["Entity"] = "Unknown"

In [39]:
eth_dataset_complete.drop(["Label"], axis=1)

,ethereum_address,ether_balance,unique_tokens,unique_transfers,mined_blocks,Entity
0,0x8d12a197cb00d4747a1fe03395095ce2a5cc6819,17960.597685,9900,117342,0,Unknown
1,0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208,19345.149872,1718,54180,0,Unknown
2,0x0d0707963952f2fba59dd06f2b425ace40b492fe,443.735122,587,245377,0,Unknown
3,0xab5c66752a9e8167967685f1450532fb96d5d24f,331.840176,402,443233,0,Unknown
4,0x1ce7ae555139c5ef5a57cc8d814a867ee6ee33d8,747.701162,978,18360,0,Unknown
...,...,...,...,...,...,...
26524,0x4d5a77b869312a8e2b3daa67c01c59753f6254ae,281.630258,47,12,0,Unknown
26525,0xd2ad5f590192d227cb7e6ff15743119fe26118a0,1000.954777,47,4,0,Unknown
26526,0x603f39c81560019c8360f33ba45bc1e4caecb33e,176.012588,47,7,0,Unknown
26527,0x003e93083a2d294cb8c4421048108330c37b5874,669.846139,47,2,0,Unknown
26528,0x72ac49403ae54061fbcdaaae032607c3f1e2f567,976.648574,47,2,0,Unknown

In [45]:
eth_dataset_complete = eth_dataset_complete.drop(["Label"], axis=1)

In [48]:
eth_dataset_complete.shape

(26529, 6)

In [47]:
labeled_dataset.head()

                             ethereum_address Entity
0  0x8ab7404063ec4dbcfd4598215992dc3f8ec853d7   DeFi
1  0x1c74cff0376fb4031cd7492cd6db2d66c3f2c6b9   DeFi
2  0x06af07097c9eeb7fd685c692751d5c66db49c215   DeFi
3  0xc00e94cb662c3520282e6f5717214004a7f26888   DeFi
4  0xb3319f5d18bc0d84dd1b4825dcde5d5f7266d407   DeFi

In [51]:
labeled_dataset_complete = pd.merge(eth_dataset_complete, labeled_dataset, how="left", on="ethereum_address")

In [57]:
labeled_dataset.shape

(19137, 2)

In [56]:
labeled_dataset_complete.head(50)

,ethereum_address,ether_balance,unique_tokens,unique_transfers,mined_blocks,Entity_x,Entity_y
0,0x8d12a197cb00d4747a1fe03395095ce2a5cc6819,17960.597685,9900,117342,0,Unknown,Dex
1,0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208,19345.149872,1718,54180,0,Unknown,Dex
2,0x0d0707963952f2fba59dd06f2b425ace40b492fe,443.735122,587,245377,0,Unknown,Exchange
3,0xab5c66752a9e8167967685f1450532fb96d5d24f,331.840176,402,443233,0,Unknown,Exchange
4,0x1ce7ae555139c5ef5a57cc8d814a867ee6ee33d8,747.701162,978,18360,0,Unknown,Dex
5,0x6cc5f688a315f3dc28a7781717a9a798a59fda7b,1031.186386,865,472190,0,Unknown,Exchange
6,0x564286362092d8e7936f0549571a803b203aaced,23892.712593,502,109404,0,Unknown,Exchange
7,0x0016eccecffc25b94050187017eb59fa05c029aa,126.407467,54,6180,0,Unknown,NaN
8,0xbe708d227f6dfa0b8f2698bf543b949dfe4e28fb,269.029806,202,1462,0,Unknown,NaN
9,0x9b77ab003d44b9b9cb47fa6a00276a23c05b49a5,2089.859796,54,3,0,Unknown,NaN
10,0x0681d8db095565fe8a346fa0277bffde9c0edbbf,11252.425439,561,105544,0,Unknown,Exchange
11,0x1062a747393198f70f71ec65a582423dba7e5ab3,326.124385,404,443465,0,Unknown,Exchange
12,0xeee28d484628d41a82d01e21d12e2e78d69920da,347.253282,357,294350,0,Unknown,Exchange
13,0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98,16018.851241,939,330486,0,Unknown,Exchange
14,0xe135eca22512f5281b06d4f4242a43b84eeec710,440.467579,121,1616,0,Unknown,NaN
15,0xd2d30e6febdcc00fe049ac23d208af81d38cddf1,132.603281,50,5,0,Unknown,NaN
16,0x7967455bee8f46046174bb3a93a512d820abe497,620.535677,60,19,0,Unknown,NaN
17,0xe93381fb4c4f14bda253907b18fad305d799241a,236.966247,383,279030,0,Unknown,Exchange
18,0x274f3c32c90517975e29dfc209a23f315c1e5fc7,975.847238,654,17755,0,Unknown,Exchange
19,0x876eabf441b2ee5b5b0554fd502a8e0600950cfa,25161.141438,406,99751,0,Unknown,Exchange
20,0xc9dce4f718f6de4499efb01cfdc297b3f95c8997,10154.023090,52,2,0,Unknown,NaN
21,0xd7b9a9b2f665849c4071ad5af77d8c76aa30fb32,1925.748999,91,1951,0,Unknown,Exchange
22,0x72bcfa6932feacd91cb2ea44b0731ed8ae04d0d3,273.855317,161,30446,0,Unknown,Exchange
23,0x521db06bf657ed1d6c98553a70319a8ddbac75a3,148.881671,366,11608,0,Unknown,Exchange
24,0x4b01721f0244e7c5b5f63c20942850e447f5a5ee,119.078152,563,32577,0,Unknown,Exchange
25,0xadb2b42f6bd96f5c65920b9ac88619dce4166f94,290.072522,360,302648,0,Unknown,Exchange
26,0x5c985e89dde482efe97ea9f1950ad149eb73829b,320.979464,361,27568,0,Unknown,Exchange
27,0xa12431d0b9db640034b0cdfceef9cce161e62be4,224.346373,773,10548,0,Unknown,Exchange
28,0xaeec6f5aca72f3a005af1b3420ab8c8c7009bac8,1289.825004,370,6005,0,Unknown,Exchange
29,0xbdc21fae769d7f5469993d8e83b465495d88cfc0,1750.981268,71,126,0,Unknown,NaN
30,0x3e9afaa4a062a49d64b8ab057b3cb51892e17ecb,415.368547,113,11437,0,Unknown,NaN
31,0x46705dfff24256421a05d056c29e81bdc09723b8,303.091431,395,280606,0,Unknown,Exchange
32,0x7e1844dd45bb5268c0c827c7fd81078c96e89aab,245.560424,49,7626,0,Unknown,NaN
33,0xc2906c3c14d89bdd7bfc22a3f6c1f375664aaaab,12691.715509,56,2,0,Unknown,NaN
34,0x1b3d794bbeecd9240f46dbb3b79f4f71a972e00a,293.089217,150,7880,0,Unknown,NaN
35,0x934176c1aca721cfa26521451279f5d5a44c7d96,172.999329,100,11,0,Unknown,NaN
36,0x742d35cc6634c0532925a3b844bc454e4438f44e,395739.846146,299,921,0,Unknown,Exchange
37,0x7b74c19124a9ca92c6141a2ed5f92130fc2791f2,821.647941,155,16988,0,Unknown,NaN
38,0x04f062809b244e37e7fdc21d9409469c989c2342,420.585496,112,1143,0,Unknown,Dex
39,0x6794471ebc084a4ca462c506afeabb93d9657c25,339.029132,50,972,0,Unknown,NaN
40,0x20312e96b1a0568ac31c6630844a962383cc66c2,317.238917,51,1567,0,Unknown,NaN
41,0xf3860788d1597cecf938424baabe976fac87dc26,358.930644,220,247,0,Unknown,NaN
42,0x0a98fb70939162725ae66e626fe4b52cff62c2e5,312.714119,60,294200,0,Unknown,NaN
43,0x4de76b3dfd38292ba71cf2465ca3a1d526dcb567,9229.083760,54,2,0,Unknown,NaN
44,0x242161026d3db889df2573b50959e5d705c9910a,125.969882,54,24,0,Unknown,NaN
45,0xd551234ae421e3bcba99a0da6d736074f22192ff,15332.142861,543,105056,0,Unknown,Exchange
46,0xfb626333099a91ab677bcd5e9c71bc4dbe0238a8,1469.452408,80,3,0,Unknown,NaN
47,0x014d63f0118576f6ef5a47b53b0f3f9efc5a5dd1,16636.169585,62,2,0,Unknown,NaN
48,0x63a9dbce75413036b2b778e670aabd4493aaf9f3,270.515725,121,4574,0,Unknown,NaN
49,0x3caf983accccc2551195e0809b7824da6fde4ec8,100.335958,54,9,0,Unknown,NaN

In [58]:
labeled_dataset_complete.Entity_y.value_counts()

Exchange       86
ICO Wallets    33
Mining         16
DeFi           10
Dex             9
Name: Entity_y, dtype: int64

In [59]:
labeled_dataset_complete.to_csv("../data/processed/labeled_dataset_complete.csv")

In [ ]:
# Manually add crowdsourced labels from etherscan.
# Cannot scrape data from Etherscan: CloudFare protection.