In [2]:
import pandas as pd

In [3]:
labels = pd.read_csv("../data/processed/eth_addresses_labels.csv")
eth_dataset = pd.read_csv("../data/raw/train_x_raw.csv")

In [4]:
labels.head()

                                      Address Entity
0  0x8ab7404063ec4dbcfd4598215992dc3f8ec853d7   DeFi
1  0x1c74cff0376fb4031cd7492cd6db2d66c3f2c6b9   DeFi
2  0x06af07097c9eeb7fd685c692751d5c66db49c215   DeFi
3  0xc00e94cb662c3520282e6f5717214004a7f26888   DeFi
4  0xb3319f5d18bc0d84dd1b4825dcde5d5f7266d407   DeFi

In [5]:
eth_dataset.shape

(4330, 5)

In [8]:
del eth_dataset['Unnamed: 0']

In [9]:
eth_dataset.head()

,ethereum_address,ether_balance,unique_tokens,unique_transfers
0,0x8d12a197cb00d4747a1fe03395095ce2a5cc6819,17959.840523,3935,117342
1,0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208,19367.237137,1511,54180
2,0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98,15640.918064,759,330486
3,0xa12431d0b9db640034b0cdfceef9cce161e62be4,1027.618377,734,10548
4,0x6262998ced04146fa42253a5c0af90ca02dfd2a3,112453.183254,78,11869

In [10]:
eth_dataset["Label"] = "Unknown"

In [11]:
eth_dataset.head()

,ethereum_address,ether_balance,unique_tokens,unique_transfers,Label
0,0x8d12a197cb00d4747a1fe03395095ce2a5cc6819,17959.840523,3935,117342,Unknown
1,0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208,19367.237137,1511,54180,Unknown
2,0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98,15640.918064,759,330486,Unknown
3,0xa12431d0b9db640034b0cdfceef9cce161e62be4,1027.618377,734,10548,Unknown
4,0x6262998ced04146fa42253a5c0af90ca02dfd2a3,112453.183254,78,11869,Unknown

In [14]:
labels.rename({'Address': 'ethereum_address'}, axis=1, inplace=True)

In [16]:
labels.head()

                             ethereum_address Entity
0  0x8ab7404063ec4dbcfd4598215992dc3f8ec853d7   DeFi
1  0x1c74cff0376fb4031cd7492cd6db2d66c3f2c6b9   DeFi
2  0x06af07097c9eeb7fd685c692751d5c66db49c215   DeFi
3  0xc00e94cb662c3520282e6f5717214004a7f26888   DeFi
4  0xb3319f5d18bc0d84dd1b4825dcde5d5f7266d407   DeFi

In [19]:
labeled_dataset = pd.merge(eth_dataset, labels)

In [20]:
labeled_dataset.head(20)

,ethereum_address,ether_balance,unique_tokens,unique_transfers,Label,Entity
0,0x8d12a197cb00d4747a1fe03395095ce2a5cc6819,1.795984e+04,3935,117342,Unknown,Dex
1,0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208,1.936724e+04,1511,54180,Unknown,Dex
2,0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98,1.564092e+04,759,330486,Unknown,Exchange
3,0xa12431d0b9db640034b0cdfceef9cce161e62be4,1.027618e+03,734,10548,Unknown,Exchange
4,0x564286362092d8e7936f0549571a803b203aaced,9.952864e+03,439,109404,Unknown,Exchange
5,0x6cc5f688a315f3dc28a7781717a9a798a59fda7b,1.072772e+03,697,472190,Unknown,Exchange
6,0xd551234ae421e3bcba99a0da6d736074f22192ff,2.299456e+04,468,105056,Unknown,Exchange
7,0x0681d8db095565fe8a346fa0277bffde9c0edbbf,2.360850e+04,488,105544,Unknown,Exchange
8,0xf2d4766ad705e3a5c9ba5b0436b473085f82f82f,4.344266e+03,99,477,Unknown,Exchange
9,0x000000000000000000000000000000000000dead,1.252621e+04,710,7130,Unknown,NaN
10,0xb9ee1e551f538a464e8f8c41e9904498505b49b0,2.223421e+03,200,15039,Unknown,Exchange
11,0x876eabf441b2ee5b5b0554fd502a8e0600950cfa,3.064058e+04,358,99751,Unknown,Exchange
12,0x742d35cc6634c0532925a3b844bc454e4438f44e,4.135476e+05,252,921,Unknown,Exchange
13,0x001866ae5b3de6caa5a51543fd9fb64f524f5478,1.113137e+03,169,847,Unknown,Exchange
14,0x65b0bf8ee4947edd2a500d74e50a3d757dc79de0,7.597100e+03,95,10949,Unknown,NaN
15,0x3fcb02a27dc60573a0cb9bff9528fcd77e78d734,1.568314e+03,26,2,Unknown,NaN
16,0x88e343f4599292c2cffe683c1bb93cd3480bdbab,4.147136e+03,60,7,Unknown,NaN
17,0x167a9333bf582556f35bd4d16a7e80e191aa6476,1.954527e+04,270,28429,Unknown,Exchange
18,0x73bceb1cd57c711feac4224d062b0f6ff338501e,1.281490e+06,24,2,Unknown,NaN
19,0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae,4.303405e+05,174,26,Unknown,NaN

In [23]:
labeled_dataset.Entity.value_counts()

Exchange       48
ICO Wallets    26
Mining          7
Dex             4
DeFi            2
Name: Entity, dtype: int64