In [62]:
from etherscan import Etherscan
import os

In [9]:
api_key = os.environ.get("ETHERSCAN_API_KEY")
eth = Etherscan(api_key) # key in quotation marks

In [11]:
eth = Etherscan("UJZSE9DXM1T37JZQVNQYNSS9IT5JEPIBA7") # key in quotation marks

In [12]:
eth.get_eth_balance(address="0x4dF5f3610e2471095a130D7d934D551f3ddE01ED")

'16087782870685282458'

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("../data/raw/train_x_raw.csv", )

In [19]:
del df['Unnamed: 0']

In [21]:
df.head()

,ethereum_address,ether_balance,unique_tokens,unique_transfers
0,0x8d12a197cb00d4747a1fe03395095ce2a5cc6819,17959.840523,3935,117342
1,0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208,19367.237137,1511,54180
2,0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98,15640.918064,759,330486
3,0xa12431d0b9db640034b0cdfceef9cce161e62be4,1027.618377,734,10548
4,0x6262998ced04146fa42253a5c0af90ca02dfd2a3,112453.183254,78,11869

In [30]:
df["internal_txs"] = None

In [31]:
df.head()

,ethereum_address,ether_balance,unique_tokens,unique_transfers,normal_txs,internal_txs
0,0x8d12a197cb00d4747a1fe03395095ce2a5cc6819,17959.840523,3935,117342,None,None
1,0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208,19367.237137,1511,54180,None,None
2,0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98,15640.918064,759,330486,None,None
3,0xa12431d0b9db640034b0cdfceef9cce161e62be4,1027.618377,734,10548,None,None
4,0x6262998ced04146fa42253a5c0af90ca02dfd2a3,112453.183254,78,11869,None,None

In [53]:
df_2 = df[0:10]

In [54]:
df_2.head(10)

,ethereum_address,ether_balance,unique_tokens,unique_transfers,normal_txs,internal_txs
0,0x8d12a197cb00d4747a1fe03395095ce2a5cc6819,17959.840523,3935,117342,None,None
1,0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208,19367.237137,1511,54180,None,None
2,0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98,15640.918064,759,330486,None,None
3,0xa12431d0b9db640034b0cdfceef9cce161e62be4,1027.618377,734,10548,None,None
4,0x6262998ced04146fa42253a5c0af90ca02dfd2a3,112453.183254,78,11869,None,None
5,0x564286362092d8e7936f0549571a803b203aaced,9952.863930,439,109404,None,None
6,0x6cc5f688a315f3dc28a7781717a9a798a59fda7b,1072.771789,697,472190,None,None
7,0xd551234ae421e3bcba99a0da6d736074f22192ff,22994.558050,468,105056,None,None
8,0x0681d8db095565fe8a346fa0277bffde9c0edbbf,23608.498088,488,105544,None,None
9,0xb0cf943cf94e7b6a2657d15af41c5e06c2bfea3d,2848.924301,181,5363,None,None

In [55]:
for i, row in df_2.iterrows():
    eth_address = row.ethereum_address
    print(eth_address)
    try:
        internal_txs = eth.get_internal_txs_by_address(address=eth_address, startblock=0,
        endblock=12153597, sort="asc")
    except:
        continue
    if internal_txs:
        row[5] = internal_txs

0x8d12a197cb00d4747a1fe03395095ce2a5cc6819
0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208
0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98
0xa12431d0b9db640034b0cdfceef9cce161e62be4
0x6262998ced04146fa42253a5c0af90ca02dfd2a3
0x564286362092d8e7936f0549571a803b203aaced
0x6cc5f688a315f3dc28a7781717a9a798a59fda7b
0xd551234ae421e3bcba99a0da6d736074f22192ff
0x0681d8db095565fe8a346fa0277bffde9c0edbbf
0xb0cf943cf94e7b6a2657d15af41c5e06c2bfea3d

In [56]:
df_2.head(10)

,ethereum_address,ether_balance,unique_tokens,unique_transfers,normal_txs,internal_txs
0,0x8d12a197cb00d4747a1fe03395095ce2a5cc6819,17959.840523,3935,117342,None,None
1,0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208,19367.237137,1511,54180,None,None
2,0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98,15640.918064,759,330486,None,None
3,0xa12431d0b9db640034b0cdfceef9cce161e62be4,1027.618377,734,10548,None,None
4,0x6262998ced04146fa42253a5c0af90ca02dfd2a3,112453.183254,78,11869,None,None
5,0x564286362092d8e7936f0549571a803b203aaced,9952.863930,439,109404,None,None
6,0x6cc5f688a315f3dc28a7781717a9a798a59fda7b,1072.771789,697,472190,None,None
7,0xd551234ae421e3bcba99a0da6d736074f22192ff,22994.558050,468,105056,None,None
8,0x0681d8db095565fe8a346fa0277bffde9c0edbbf,23608.498088,488,105544,None,None
9,0xb0cf943cf94e7b6a2657d15af41c5e06c2bfea3d,2848.924301,181,5363,None,None

In [77]:
blocks = eth.get_mined_blocks_by_address(address="0x2a0eee948fbe9bd4b661adedba57425f753ea0f6")

In [78]:
len(blocks)

5154

In [74]:
len(eth.get_mined_blocks_by_address(address="0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5"))

AssertionError: None -- Unknown Exception

In [76]:
len([{'blockNumber': '12159037', 'timeStamp': '1617352655', 'blockReward': '4155132922940852273'}, {'blockNumber': '12158868', 'timeStamp': '1617350098', 'blockReward': '3908890904482112155'}])

2